################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Process Control/.vs

/Process Control/Client/obj
/Process Control/Client/bin/Debug/net9.0

/Process Control/Server/obj
/Process Control/Server/bin/Debug/net9.0

/Process Control/Process/obj
/Process Control/Process/bin/Debug/net9.0

/Process Control/Task Manager/obj
/Process Control/Task Manager/bin/Debug/net9.0

*.pdf
